body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* *{
    outline: 1px solid #f00 !important;
} */

html {
    scroll-behavior: smooth;
}

input {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

.SemiBold {
    font-weight: 600;
    font-size: 24px;
}

.slice {
    padding: 50px;
    margin-bottom: 70px;
}

h1 {
    font-weight: 900;
    font-size: 75px;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);

    color: #37374D;
}

.medium {
    font-weight: 500;
}

.regular {
    color: #4C4B4B;
    font-weight: 500;
    font-size: 25px;
}

.filled {
    width: 300px;
    height: 88px;
    font-size: 2rem;
    font-weight: 600;
    color : white;
    border-radius: 10px;
    background-image: linear-gradient(to right, #20A36C , #52E5A7 , #20A36C);
    border: none;
    background-size: 200% auto;
    transition: 0.5s;
}

.filled:hover {
    background-position: right center;
}

.outlined {
    width: 300px;
    height: 88px;
    border: 3px solid #23A76F;
    color : #37374D;
    font-size: 2rem;
    font-weight: 600;
    background-color: transparent;
    border-radius: 10px;
}

.outlined:hover {
    background-color: #23A76F;
    color: #fff;
}

.slice-h {
    text-align: center;
    margin: 0 15%;
}

.light {
    font-weight: 300;
    color: #4D4B4B;
    font-size: 22px;
}

main .hero .outlined {
    border: 1px solid #7E7E7E;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* padding: 1rem 1rem; */
    background: #fff;
    z-index:9999;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0rem 2rem;
}

nav img {
    width: 90px;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    max-width: 50%;
    justify-content: space-between;
    overflow: hidden;
}

nav ul a {
    text-decoration: none;
}

nav ul li{
    text-decoration: none;
    color: #ADADAD;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 0 1rem;
    box-sizing: border-box;
    border: 1px solid transparent; 
    box-shadow: 0 0 0 transparent; 
}

nav ul li:hover {
    box-sizing: border-box;
    border: #20A36C 1px solid;
    color: #20A36C;
    box-shadow: #20A36C 0 0 10px;

}

nav ul li a {
    text-decoration: none;
    color: #000;
}

nav ul li a:hover {
    color: #20A36C;
}

nav ul li a:active {
    color: #20A36C;
}

nav button{
    background:#fff;
    color:  #20A36C;
    border: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

nav button:hover{
    /* background: #20A36C; */
    /* color: #fff; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
}

main .hero{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #F5F9FC;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    background-image: url(./images/islamic-background.png);
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
    main .hero {
      min-width: 768px;
      flex-wrap: nowrap;
    }
}

main .left-text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    width: 55%;
}

main .left-text .hero-wrapper {
    width: 90%;
}

main .left-text h1 {
    max-width: 850px;
}

main .left-text p{
    max-width: 700px;
}

main .left-text .buttons-lair {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

main .left-text .buttons-lair:last-child .outlined{
    margin-left: 80px;
}

main .right-image {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

main img {
    width: 100%;
    max-width: 800px;
}


.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background: #fff;
}

.about .left{
    width: 50%;
    padding: 2rem;
    position: relative;
    height: 500px;
}

.about .left img:first-child {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60%;
}

.about .left img:last-child {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  max-width: 70%;
  transform: translate(-50%, -50%);
}

.about .right {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.slice-h {
    margin-bottom: 70px;
}

.sourah-search {
    max-width: 750px;
    width: 100%;
    height: 110px;
    border-radius: 10px;
    border: 3px solid #20A36C;
    padding-left: 50px;
    font-size: 32px;
    font-weight: 600;
    color:#37374D;
}

.sourah-search::placeholder {
    opacity: 1;
    font-size: 32px;
    font-weight: 600;
    color:#616169;
}

.sourah-lair {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 75px;
    margin: 2rem 0;

}

.sourah-lair .surah-card {
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #7E7E7E;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
}

.sourah-lair .surah-card span{
    font-size: 32px;
    font-weight: 600;
    color:#37374D;
    height: 84px;
    width: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.sourah-lair .surah-card .surah-description h3{
    font-size: 36px;
    font-weight: 600;
    color:#37374D;
    margin-bottom: 0.5rem;
}

.sourah-lair .surah-card img{
    width: 30px;
    height: 30px;
    padding-top: 30px;
    align-self: flex-start;
}

.sourah-lair .surah-card:hover,
.sourah-lair .surah-card:hover span,
.sourah-lair .surah-card:hover .surah-description, 
.sourah-lair .surah-card:hover .surah-description h3, 
.sourah-lair .surah-card:hover .surah-description p{
    color: #fff;
}

.sourah-lair .surah-card:hover,
.sourah-lair .surah-card:hover span{
    background-image: linear-gradient(to right, #20A36C , #52E5A7);
}

.slice-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background: #fff;
}

#blogs {
    margin-top : 70px;
}

.blogs-lair{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.blogs-lair .blog {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: #fff;
    width: 30%;
    margin: 2rem;
}

.blogs-lair .blog img {
    border-radius: 10px;
}

.blogs-lair .blog h3 {
    font-size: 32px;
    font-weight: 700;
    color:#37374D;
}

.blogs-lair .blog a{
    font-size: 24px;
    font-weight: 600;
    color:#20A36C;
    text-decoration: none;
    cursor: pointer;
}

footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 2fr));
    background: #37374D;
}


footer .footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: #37374D;
    color: #fff;
    /* width : 55% */
}

footer .footer-left h2 {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

footer .footer-left ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 2rem;
    list-style: none;
}


footer .footer-left ul li{
    width: 80px;
}


footer .footer-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: #fff;
    color: #fff;
    width : 80%;
    border-radius: 40px;
    margin: 2rem;
}

footer .footer-right form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

footer .footer-right input {
    width: 95%;
    padding: 1rem;
    border: none;
    border-radius: 40px;
    margin: 1rem 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: #37374D;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

footer .footer-right input::placeholder {
    color: rgb(175, 163, 163);
    font-size: 24px;
    font-weight: 600;
}

footer .footer-right button {
    background-color: #49D99D;
    color: #fff;
    border-radius: 40px;
    border: none;
    width: 95%;
    height : 60px;
}